@charset "UTF-8";

/* default styles and fixes */
*,*:before,*:after{margin:0;padding:0;border:0;outline:0;font-size:100%;font-weight:normal;vertical-align:baseline;background:transparent;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
html,body{height:100%;}
table{border-collapse:collapse;}
.clearfix:before,.clearfix:after{content:" ";display:table;}
.clearfix:after{clear:both;}
a{text-decoration:none;cursor: pointer;}
ul{list-style:none;}
.float-left{display:inline-block;float:left;}
.float-right{display:inline-block;float:right;}
html{font:14px/1.25 Helvetica,Arial,sans-serif;line-height:1.18;font-style:normal;font-weight:normal;text-decoration:none;text-rendering:optimizeLegibility;-webkit-font-smoothing:antialiased;}
input,select,textarea{font:100% Helvetica,Arial,sans-serif;}
code,pre{font-family:"Inconsolata","Consolas","Monaco",monospace;}

.col-1-2, .col-2-2 { }
.col-1-2 { width: 50%; margin-right: -2em; padding-right: 0.5em; float: left; }
.col-2-2 { width: 50%; margin-left: -2em; padding-left: 0.5em; float: right; }

html, body { height: 100%; }
body { margin: 0 0 0 0; padding: 0; }

#content-wrap { width: 67em; }
#content-wrap { position: relative; margin: 0 auto; padding: 3.5em 1em 1em 1em; min-height: 100%; }
#content-wrap h2 { font-family: 'Titillium Web', sans-serif; }
#content-wrap h3, #content-wrap h4 { font-weight: bold; }

#content-wrap { }

body { background: #666; }

#content-wrap { background:#fff; }
#content-wrap h2 { font-size: 225%; margin-bottom: 0.5em; }
#content-wrap h3 { font-size: 125%; margin: 0 0 0.5em; }
#content-wrap h4 { font-size: 110%; margin: 0 0 0.5em; }

.logout-button,.home-button{display:block;position:absolute;top:0em;z-index:1;width:5em;text-align:center;height:2.5em;padding:0.6em;color:#ccc;}
.logout-button:hover,.home-button:hover{background:#444;color:#fff;}
.menubar{position:absolute;top:0;left:0;width:100%;background:#333;height:2.5em;z-index:1;}
.logout-button{right:6em;}
.home-button{right:0em;}

form { }
form.centered { display: block; width: 32em; margin: 0 auto; margin-top: 5em; margin-bottom: 10em;}
form fieldset { margin-bottom: 1em; }
form fieldset legend { display: none; margin: 0 0 1em 0;padding:0.3em 0.5em;
  font-weight: bold;}
form label{display:inline-block;height:2.0em;width:8em;padding:0.3em 0.5em;}
select,input,textarea{width:22em;height:2.0em;margin:0 1em 0.8em 0;background:#f3f3f3;color:#333;border:1px solid #ccc;padding:0.3em 0.5em;box-shadow:inset 5px 10px 1.2em -15px rgba(0,0,0,0.5);-webkit-appearance:none;border-radius:0;}
select:focus,input:focus,textarea:focus,#articles-forms *:focus{background:#fafafa;border:1px solid #999;}
form textarea{height:8em;vertical-align:top;}
input.btn:focus{background:#369;}


input.input-title { width:53em; }
input.input-keywords { width:53em; }

div#auto-populate {
  padding-left: 8em;
  padding-bottom: 0.5em;
}
div#auto-populate p {
  margin-bottom: 0.5em;
}
textarea.auto-populate { width: 53em; height: 4em; margin-bottom: 1em; }

.btn{display:inline-block;background:#258;box-shadow:0 1px 0 rgba(255,255,255,0.3) inset,0 1px 3px rgba(0,0,0,0.4);color:#fff;border:1px solid #237;border-radius:0.2em;font-weight:bold;padding:0.7em 1em;text-decoration:none;text-shadow:0 -1px 0 rgba(0,0,0,0.5);cursor:pointer;margin-top:-0.5em;height:2.5em;}
.btn:hover{background:#369;box-shadow:0 1px 0 rgba(255,255,255,0.4) inset;color:#eafaff;}

.recurse{margin:0.1em;}
.recurse td{min-width:3em;padding:0.5em;border:1px solid #bbb;}
.recurse td.field{text-align:center;background:#ddd;}
.recurse td.value{width:25em;background:#f5f5f5;}
.recurse table{margin:0em;}

table.status{width:100%;border: 1px solid #ddd; margin: 1em 0; }
table.status tr{border-bottom:1px solid #ddd;}
table.status tr.even{background:#f3f3f3;}
table.status tr.odd{background:#fafafa;}
table.status tr:first-child {background:#333; color:#fff;}
table.status td, table.status th  {padding:0.5em 0.5em; text-align: left;}
table.status td:first-child, table.json-status th:first-child {text-align: left; }
table.json-status td, table.json-status th  { text-align: center; }
table.page-status td:last-child, table.json-status th:last-child {text-align: center; }

table.status .green, table.status .green {}
table.status .green { color: #393;}
table.status .red { color: #933;}
table.list{width:100%;border: 1px solid #ddd;}
table.list tr{border-bottom:1px solid #ddd;}
table.list tr.even{background:#f3f3f3;}
table.list tr.odd{background:#fafafa;}
table.list tr:hover{background:#ffa;}
table.list td{padding:0.5em 1em;}
table.list tr:last-child{border-bottom:none;}
table.list .icon-trash,table.list .icon-pencil{font-size:120%;display:block;text-align:center;padding:0 1em ;}
table.list td.delete-button,table.list td.edit-button{max-width:3em;width:3em;padding:0;}
table.list a .icon-pencil{color:#000;}
table.list a .icon-trash{color:#c33;}
table.list td.value{}

#nav{width:67em;margin:0 auto;}
#nav ul ul{display:none;width:30%;}
#nav ul li:hover > ul{display:block;}
#nav ul{background:#333;position:relative;display:inline-table;width:100%;}
#nav ul:after{content:"";clear:both;display:block;}
#nav ul li{float:left;}
#nav ul li:hover{background:#258;}
#nav ul li:hover a{color:#fff;}
#nav ul li a{display:block;padding:0.7em 1em;color:#eee;text-decoration:none;}
#nav ul ul{background:#258;border-radius:0px;padding:0;position:absolute;top:100%;}
#nav ul ul li{float:none;position:relative; }
#nav ul ul li a{padding:0.7em 1em;color:#fff;}
#nav ul ul li a:hover{background:#369;}
#nav ul ul ul{position:absolute;left:100%;top:0;}


/* jquery ui autocomplete stuff */
.ui-helper-hidden-accessible{display:none;}
.ui-autocomplete{width:18em;background:#fff;}
.ui-menu{border:1px solid #aaa;border-bottom-left-radius:4px;border-bottom-right-radius:4px;}
.ui-widget{}
.ui-widget-content a{display:block;color:#333;padding:0.5em;font-size:100%;}
.ui-corner-all{}
.ui-menu-item{cursor:pointer;}
.ui-widget-content .ui-state-hover,.ui-widget-content .ui-state-focus{color:#fff;background:#258;}
.ui-datepicker{width:22em;background:#fff;border:1px solid #ccc;border-top:none;}
.ui-datepicker table{width:22em;}
.ui-datepicker .ui-datepicker-header{background:#ccc;padding-bottom:0.5em;}
.ui-datepicker-prev,.ui-datepicker-next{cursor:pointer;}
.ui-datepicker-prev{float:left;}
.ui-datepicker-next{float:right;}
.ui-datepicker-title{text-align:center;padding-top:0.5em;}
.ui-datepicker-calendar td{text-align:center;}
.ui-datepicker-calendar thead th{background:#eee;padding:0.5em 0;}
