@charset "UTF-8";

/* @import url('diagnostics.css'); */

/* ------------------------------------------------------------------------- *\
 * Reset all styles                                                          *
\* ------------------------------------------------------------------------- */

*, *:before, *:after { 
  margin: 0; padding: 0; border: 0; outline: 0; 
  font-size: 100%; font-weight: normal; vertical-align: baseline; 
  background: transparent; 
}

/* ------------------------------------------------------------------------- *\
 * Use border-box model for easier layout                                    *
\* ------------------------------------------------------------------------- */

*, *:before, *:after {
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  box-sizing: border-box; 
}

/* ------------------------------------------------------------------------- *\
 * Fixes                                                                     *
\* ------------------------------------------------------------------------- */

html, body { height:100%; } 
table { border-collapse:collapse; }
.disabled { pointer-events: none; opacity: 0.5; }
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }
a { text-decoration: none; }
ul { list-style: none; }

/* ------------------------------------------------------------------------- *\
 * Default font settings                                                     *
\* ------------------------------------------------------------------------- */

html {
  font: 16px/1.25 Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  line-height: 1.18;
}

input, select, textarea { 
  font: 100% Helvetica, Arial, sans-serif; 
  font-weight: normal; 
}

code, pre { font-family: "Inconsolata", "Consolas", "Monaco", monospace; }

/* ------------------------------------------------------------------------- *\
 * Shortcut classes                                                          *
\* ------------------------------------------------------------------------- */

.float-left { display: inline-block; float: left; }
.float-right { display: inline-block; float: right; }
.larger { font-size: 110%; }

/* ------------------------------------------------------------------------- *\
 * Responsive CSS media queries                                              *
\* ------------------------------------------------------------------------- */

/* Responsive css media queries */

@media (max-width:1100px) { 
  #header-wrap, #content-wrap, #footer-wrap, #nav { width: 50em;  }
  #sidebar { display:none; }
  #footer .logos img { height: 3em; }
}

@media (min-width:1100px) { 
  #header-wrap, #content-wrap, #footer-wrap, #nav { width: 67em; }
  #sidebar { display:block; }
  #footer .logos img { height: 4em; }
}

@media (min-width:1400px) { 
  body { font-size: 120%; }
  #footer .logos img { height: 4em; }
}

@media (min-width:1920px) { 
  body { font-size: 140%; }
  #footer .logos img { height: 4em; }
}

/* iPads (landscape) */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
  #header-wrap, #content-wrap, #footer-wrap, #nav { width: 67em; }
  #sidebar { display:block; }
  #footer .logos img { height: 4em; }
}

/* iPads (portrait) */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) { }

/* ------------------------------------------------------------------------- *\
 * Page Layout (Top Level)                                                   *
\* ------------------------------------------------------------------------- */

html, body { height: 100%; }
body { margin: 0 0 0 0; padding: 1em 0 1em 0; }

#header-wrap, #nav-wrap, #content-wrap, #footer-wrap, #nav 
              { position: relative; margin: 0 auto; }
#nav-wrap     { width: 100%; }
#content-wrap { min-height: 65%; }
#sidebar-wrap { width:  17em; float:left; }
#content      { width:  50em; float: right; margin-left: -20em; padding: 1em 1.5em;  margin-right: -1px; position: relative; overflow: hidden;}
#footer       { padding: 2em 0.6em; width: 100%; }
#nav.stuck    { margin: 0 auto; } /* matches body left margin */
#nav          { }
#header       { height: 8em; padding: 1.7em 1em 1em 1em; }

#publication-switcher-wrapper {
  width: 47em; 
  position: relative;
  overflow-x: hidden;
  min-height: 45em;
}
#articles-wrapper, #conferences-wrapper, #books-wrapper { width: 46.9em; position: absolute; top:0; }
#articles-wrapper { left:0; }
#conferences-wrapper { left: 50em;}
#books-wrapper  { left:100em; }

/* ------------------------------------------------------------------------- *\
 * Custom font specification                                                 *
\* ------------------------------------------------------------------------- */

#content h2 { font-family: 'Titillium Web', sans-serif; }
#content h3, #content h4 { font-weight: bold;  }
#title h1 {font-family: 'Titillium Web', sans-serif; }
textarea.bibtex { font-family: "Inconsolata", "Consolas", monospace; }

/* ------------------------------------------------------------------------- *\
 * Borders (Top Level)                                                       *
\* ------------------------------------------------------------------------- */

#header, #nav, #content-wrap, #footer-wrap 
  { border-left: 1px solid #888; border-right: 1px solid #888; }
#header { border-top: 1px solid #888; border-top-left-radius: 0.3em; border-top-right-radius: 0.3em;}
#content { border-left: 1px solid #888; border-right: 1px solid #888;}

/* Colors and backgrounds */

body { background: #ccc url('noisy_grid.png') fixed; }

#content a, #sidebar a 
  { color: #933; }
#content a:hover, #sidebar a:hover 
  { color: #666; }

#header, #nav, #content-wrap, #footer-wrap {
  box-shadow: 0px 0px 5em 0px rgba(0,0,0,0.25);
  background: #fff;
}

#nav a, .logos a, #articles a.button, #publication-switcher h3 {
  -webkit-transition: all 0.15s ease-in-out; 
     -moz-transition: all 0.15s ease-in-out; 
          transition: all 0.15s ease-in-out; 
}

#articles a.thumbnail {
  -webkit-transition: opacity 0.2s ease-in-out; 
     -moz-transition: opacity 0.2s ease-in-out; 
          transition: opacity 0.2s ease-in-out; 
}

#header-wrap, #nav-wrap, #content-wrap, #footer-wrap, #nav  { 
  -webkit-transition: width 0.5s ease-in-out; 
     -moz-transition: width 0.5s ease-in-out; 
          transition: width 0.5s ease-in-out; 
}

#header { background: #eee url('banner.jpg'); background-size: cover; }

#title a, #nav a, h1, h2, h3, #breadcrumbs, .btn {
  -moz-user-select: none; 
  -webkit-user-select: none; 
}

#mitlogo { float: left; padding: 0.5em 0.5em 0.5em 1em; }
#mitlogo img { width: 4.9em; height: 3.6em;}
#title { float: left; margin-left: 1em}
#title h1 { font-size: 230%; line-height: 1.2em; 
  text-shadow: 0px 1px 2px rgba(0,0,0,0.4);  }
#title h2 { font-size: 125%; }
#title a { color: #000; }

#nav-wrap { z-index: 999999; }
#nav { background: #555; box-shadow: inset 0px 1.2em 60px -1.2em rgba(255,255,255,0.25); }

#nav ul { }
#nav ul li a {
  height: 2.5em;
  display: inline-block;
  float: left;
  padding: 0.7em;
  min-width: 12%;
  color: #eee;
  font-size: 100%;
  text-align: center;
  border-right: 1px solid #777;
  text-shadow: 0 -1px 0px rgba(0,0,0,0.5);
  border-left: 1px solid #444;
  font-weight: bold;
}

#nav ul li a:hover { background: rgba(0,0,0,0.2); color: #fff; }
#nav ul li:first-child a { min-width: 2.8em; width: 2.8em; }
#nav ul li a.active { 
  background: #933;
  box-shadow: inset 0px 1.2em 60px -1.2em rgba(0,0,0,1.0); 
  color: #fff; 
  border-left: 1px solid #522; 
  border-right: 1px solid #522; 
  text-shadow: 0px 2px 3px rgba(0,0,0,1.0);
}
#nav ul li a.active:hover { 
  background: #8a2a2a;
}
#nav .totop span {
  display: inline-block;
  font-size: 75%;
}
#nav .totop {
  opacity: 0;
  color: #eee;
  text-shadow: 0 -1px 0px rgba(0,0,0,0.5);
  padding: 0.7em;
  float: right;
  cursor: pointer;
}
#nav .totop:hover {
  color: #fff;
}


#content-wrap { background: #fff; border-left: 1px solid #888; }

#sidebar {background: #fff; width: 100%; padding-bottom: 8em;}
#sidebar .sidebar-content { padding: 15px 15px; }
#sidebar a.sidebar-collapse-btn { float: right; padding: 0.7em 1em; cursor: pointer; }
#sidebar h2 {
  font-size: 100%;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #eee;
  box-shadow: inset 0px -1.2em 3em -1.2em rgba(0,0,0,0.25);
  padding: 10px 15px;
}
#sidebar strong { font-weight: bold; }
#sidebar p { margin-bottom: 10px; font-size: 95%; }
#sidebar ul.links li { margin-bottom: 5px; }
#sidebar ul.links li i { color: #888; }
#sidebar .sidebar-box { }
#sidebar .icon-external-link { display: block; float: right; }
#sidebar .icon-calendar { display: block; float: right; }

#content {
  font-size: 100%;
  box-shadow: -3em 0px 6em -3em rgba(0,0,0,0.25);
  background: #fff;
}

#content h2 { font-size: 225%; margin-bottom: 0.3em; }
#content h3 { font-size: 140%; margin: 0 0 0.5em; }
#content h4 { font-size: 125%; margin: 0 0 0.5em; }
#content p strong, #content li strong { font-weight: bold; }
#content p { margin-bottom: 15px; }
#content p.centering { text-align: center; }
#content p.extra-padding { padding: 10px 0px; }
#content ul, #content ol { margin-bottom: 1.2em; }
#content li { margin-bottom: 0.5em; }
#content ol li { margin-left: 1.5em; margin-bottom: 0.5em; }
#content ul li { padding-left: 1.5em; background: url('bullet.png') no-repeat; background-position: 0 0.3em; }
#content .vfill { height: 8em; }

#content a.btn {
  display: inline-block;
  background: #258;
  box-shadow: 0 1px 0 rgba(255,255,255,0.3) inset, 0 1px 3px rgba(0,0,0,0.4);
  color: #fff;
  border: 1px solid #237;
  border-radius: 0.2em;
  font-weight: bold;
  padding: 0.5em 1em;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
  transition: all 0.4s linear;
  cursor: pointer;
}

#content a.btn:hover {
  background: #369;
  box-shadow: 0 1px 0 rgba(255,255,255,0.4) inset;
  color: #eafaff;
}

#content #breadcrumbs { margin-bottom: 0.75em; font-size: 85%;  }
#content #breadcrumbs:hover { opacity: 1.0; }
#content #breadcrumbs i { margin: 0px 5px; }

#footer { font-size: 85%; background: #333; color: #aaa;  box-shadow: 0px 50px 100px -50px rgba(0,0,0,0.25); }
#footer .copyright { float:right; padding: 0px 10px; }
#footer .designed-by { float:left; padding: 0px 10px; }
#footer a { color: #ccc; }
#footer .logos li { display: block; float:left; width: 24%; }
#footer .logos a { display: block;float: left; filter: grayscale(100%); -webkit-filter: grayscale(100%); -moz-filter: grayscale(100%); width: 100%; margin-bottom: 1.2em; text-align:center; }
#footer .logos a:hover { opacity: 1.0; filter: grayscale(0%); -webkit-filter: grayscale(0%); -moz-filter: grayscale(0%); }


.person { margin-bottom: 30px; }
.person .name { font-size: 130%; font-weight: bold; margin-bottom: 10px; }
.person .name a { font-weight: bold; color: #000; }
.person .name a:hover { color: #666; }
.person .photo { float: left; margin-right: 1.2em; padding: 1px 1px 0 1px; border: 1px solid #ddd; box-shadow: 0px 5px 1.2em -5px rgba(0,0,0,0.5); }
.person .photo img { width: 7em; height: 9.7em; margin-bottom:-3px; }
.person .bio { font-size:95%; }

code.block { display: block; }

code.block, pre.code, .article textarea.bibtex  {
  font-size: 85%;
  padding: 0.5em;
  background: #fafafa;
  margin: 0.5em 0;
  border: 1px solid #ddd;
  overflow: auto;
}

#publication-switcher {
  background: #bbb; 
  box-shadow: inset 0px 1.2em 3em -1.2em rgba(255,255,255,1);
  margin-bottom: 1em;
  border-radius:0.4em;
  border: 1px solid #999;
  
}

#publication-switcher h3 {
  height: 2.5em;
  display: inline-block;
  float: left;
  padding: 0.7em;
  min-width: 12%;
  color: #333;
  font-size: 90%;
  text-align: center;
  border-right: 1px solid #ddd;
  border-left: 1px solid #999;
  text-shadow: 0 1px 1px #fff;
  font-weight: bold;
  margin:0;
  width: 33.3333%;
  cursor: pointer;
}

#publication-switcher h3:first-child {
  border-top-left-radius: 0.4em;
  border-bottom-left-radius: 0.4em;
  border-left: 0;
}

#publication-switcher h3:last-child {
  border-top-right-radius: 0.4em;
  border-bottom-right-radius: 0.4em;
}

#publication-switcher h3:hover { background: rgba(0,0,0,0.1); color:#000;}
#publication-switcher h3.active { 
  background: #369;
  box-shadow: inset 0px 1.2em 60px -1.2em rgba(0,0,0,1.0); 
  color: #fff; 
  border-left: 1px solid #225; 
  border-right: 1px solid #225; 
  text-shadow: 0px 2px 3px rgba(0,0,0,1.0);
}
#publication-switcher h3.active:hover { 
  background: #47a;
}

#publications-form {
  padding-bottom: 0em;
}

#publications-form table{
  width: 100%;
}
#publications-form table td {
  padding-right: 0.5em;
}
#publications-form table td:last-child {
  padding-right: 0;
}
#publications-form label {
  display:none;
}
#publications-form select, #publications-form input {
  border-radius: 0;
  height: 2.0em;
  font-size: 90%;
   -webkit-appearance: none;
  border: 1px solid #ccc;
  padding: 0.3em 0.5em;
  box-shadow: inset 5px 10px 1.2em -15px rgba(0,0,0,0.5);
  color: #333;
  margin: 0;
  width: 100%;
}

#publications-form .btn {
  font-size: 85%;
} 

#publications-form #select-year { min-width: 3.6em; }
#publications-form #select-author { min-width: 11em; }
#publications-form #select-journal { min-width: 16em; max-width: 20em;}


.research-area-figure-left, .research-area-figure-right {
  border: 1px solid #ccc;
  padding: 0.5em;
  border-radius: 0.3em;
  box-shadow: 0px 5px 10px -5px rgba(0,0,0,0.5);
}
.research-area-figure-right { float: right;  margin: 0em 0em 1em 1em;}
.research-area-figure-left { float: left; margin: 0em 1em 1em 0em;}
.research-area-figure-left img, .research-area-figure-right img { width: 14em; }

.course { font-size: 90%; }
.course p { display: block; float: left; width: 68%; ;}
.course .title { font-size: 110%; border-bottom: 1px dotted #aaa; padding-bottom: 0.6em; line-height: 1.3;}
.course img { float: right; width: 30%; margin-left: -5em; }

.even { background: #faf3f3; }
.odd { background: #ffffff; }

#articles { margin-bottom: 1.5em; border: 1px solid #ecc; }
#articles .loading {
  display: block; text-align: center;
  padding: 5em;
  font-weight: bold;
  font-size: 150%;
  color: #ccc;
}
.article { position: relative; overflow: hidden; min-height: 6.5em; }
.article { border-bottom: 1px solid #ecc; }
.article:first-child { }
.article:last-child { border-bottom: none; }
.article .thumbnail img { height: 100%; width: 100%; }
.article .thumbnail {
  opacity: 0.4;
  background:#fff;
  float: left;
  height: 6.5em;
  width: 4.75em;
  margin-right: 0.75em ;
  overflow: hidden;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
}
.article .thumbnail-active {
  opacity: 1.0;
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%); 
}
.article .authors { margin: 0.75em 0 0.4em 0; font-size: 87.5%; }
.article .author { }
.article .journal { font-size: 90%; }
.article .journal strong { font-weight: bold; }
.article .title { font-size: 95%; font-weight: bold; font-style: italic; margin-bottom: 0.4em; padding-right: 8em; }
.article .bibtex { display: none; }
.article textarea.bibtex {
  width: 100%;
  height: 15em;
  line-height: 1.2em;
  font-size: 80%;
  padding: 1em 1em 0;  
  box-shadow: inset 0em 2em 5em -2em rgba(0,0,0,0.2);
  background: rgba(255,255,255,0.5);
  border: 1px solid #ccc;
  border-left: none;
  border-top:none;
  color:#333;
  margin: 0;
}

.article .abstract { 
  display: none; 
  clear: both; 
  font-size: 90%; 
  background:rgba(220,220,220,0.35);
  padding: 0.75em; 
  
  text-align:justify;
  
  -ms-word-break: hyphenate;
      word-break: hyphenate;

 -webkit-hyphens: auto;
    -moz-hyphens: auto;
         hyphens: auto;

}
.article .abstract span strong {font-weight: bold; margin-bottom: 1em; }
.article .keywords { margin-top: 1em; }
.article .keywords strong { font-weight: bold; }
#content .article a.button { 
  position: absolute; 
  padding: 0.35em 0.5em;
  cursor: pointer;
  font-size: 85%;
  right: 0.5em;
  width: 6.5em;
  background: transparent;
  border: 1px solid transparent;
  color: #b99;
  height: 2em;

}
#content .article a.button i { margin-right: 0.1em; }
.article a.button-top { top: 0.75em; }
.article a.button-abstract { top: 2.75em; }
.article a.button-bottom { top: 4.75em; }
pre.bibtex { margin-bottom: 0; }
#content .article a.button:hover {
  border: 1px solid #b77;
  color: #933;
}
#content .article a.active {
  color: #933;
}
#content .article a.selected {
  background: #b77;
  color: #fff;
}
#content .article a.selected:hover {
  background: #933;
  color: #fff;
}

#content .article .abstract p {
  margin-bottom: 0;
}
#content .article .abstract p + p {
  text-indent: 1.5em;
  margin-top: 0;
}
