@charset "UTF-8";

/* default styles and fixes */
*,*:before,*:after{margin:0;padding:0;border:0;outline:0;font-size:100%;font-weight:normal;vertical-align:baseline;background:transparent;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
html,body{height:100%;}
table{border-collapse:collapse;}
.clearfix:before,.clearfix:after{content:" ";display:table;}
.clearfix:after{clear:both;}
a{text-decoration:none;cursor: pointer;}
ul{list-style:none;}
.float-left{display:inline-block;float:left;}
.float-right{display:inline-block;float:right;}
html{font:16px/1.25 Helvetica,Arial,sans-serif;line-height:1.2;font-style:normal;font-weight:normal;text-decoration:none;text-rendering:optimizeLegibility;-webkit-font-smoothing:antialiased;}
input,select,textarea{font:100% Helvetica,Arial,sans-serif;}
code,pre{font-family:"Inconsolata","Consolas","Monaco",monospace;}

/* portrait */
@media (max-width:70em) { 
  #header-wrap, #content-wrap, #footer-wrap, #nav { width: 50em;  }
  #sidebar { width: 50em; float:right; }
  .sidebar-box { width:33.3333%; float: left; border-right: 1px solid #ccc; min-height: 15em;}
  .sidebar-box:last-child {border-right: none;}
  .logos-wrapper { width: 17em; }
}

/* landscape */
@media (min-width:70em) { 
  #header-wrap, #content-wrap, #footer-wrap, #nav { width: 67em; }
  #sidebar-wrap { width:  17em; float:right; position: relative;}
  .logos-wrapper { width: 41em; }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) { }
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) { }

html, body { height: 100%; }
body { }

#header-wrap, #nav-wrap, #content-wrap, #footer-wrap, #nav 
              { position: relative; margin: 0 auto; }
#nav-wrap     { width: 100%; z-index: 0; top: 0 }
#content-wrap { z-index: 1;  }
#sidebar-wrap { }
#sidebar      { width: 100%;}
#content      { width:  50em; float: left; margin-right: -20em; padding: 1.5em 1.5em;  margin-left: -1px; position: relative; overflow: hidden; z-index: 2; }
#footer       { padding: 0; width: 100%; }
#nav.stuck    { margin: 0 auto; } 
#nav          { }
#header       { height: 8em; }

/* columns */
.col-1-2, .col-2-2 { }
.col-1-2 { width: 50%; margin-right: -2em; padding-right: 0.5em; float: left; }
.col-2-2 { width: 50%; margin-left: -2em; padding-left: 0.5em; float: right; }
 
/* fonts */
#content h2, #divtext h1 { font-family: 'Titillium Web', sans-serif; }
#content h3, #content h4, #nav ul li a  { font-weight: bold; }
#title h1 {font-family: 'Titillium Web', sans-serif; }
textarea.bibtex { font-family: "Inconsolata", "Consolas", monospace; }
code.block { display: block; font-family: "Inconsolata", "Consolas", monospace; }
code.block, pre.code, .article textarea.bibtex  { font-size: 85%; background: #fafafa; padding: 0.5em; margin: 0.5em 0; border: 1px solid #ddd; overflow: auto; }

/* borders */
#content-wrap
  { border-left: 1px solid #ddd; border-right: 1px solid #ddd; }
#header { border-left: 1px solid #300; border-right: 1px solid #300;  }
#content-wrap { border-left: 1px solid #ddd; }
#content { border-left: 1px solid #ddd; border-right: 1px solid #ddd;}

/* Colors and backgrounds */
a { color: #933; }
a:hover { color: #c33; }
body { background: #ccc url('noisy_grid2.png') fixed; }
#header { background: #310606 url('banner.jpg'); background-size: cover; }
#nav { background: #252525; background-image: linear-gradient(bottom, rgb(37,37,37) 0%, rgb(60,60,60) 100%); background-image: -moz-linear-gradient(bottom, rgb(37,37,37) 0%, rgb(60,60,60) 100%); background-image: -webkit-linear-gradient(bottom, rgb(37,37,37) 0%, rgb(60,60,60) 100%); background-image: -ms-linear-gradient(bottom, rgb(37,37,37) 0%, rgb(60,60,60) 100%);}
#nav-wrap { }
#content-wrap { background: #fafafa; }
#sidebar { background: #fafafa;}
#content { background: #fff;}
#footer { color: #888; background: #333;}
#footer .footer-bottom { background:#222; }
#header-wrap, #nav, #content-wrap, #footer-wrap { box-shadow: 0 0 2em 0 rgba(0,0,0,0.3); }

/* transitions */
#header-wrap, #nav-wrap, #content-wrap, #footer-wrap, #nav {-webkit-transition:width 0.5s ease;-moz-transition:width 0.5s ease;-ms-transition:width 0.5s ease;transition:width 0.5s ease;}
.button, .btn, #publication-switcher h3 {-webkit-transition:all 0.15s ease-in-out;-moz-transition:all 0.15s ease-in-out;-ms-transition:all 0.15s ease-in-out;transition:all 0.15s ease-in-out;}
#title a, #nav a, h1, h2, h3, #breadcrumbs, .btn, .button, #sidebar h2 *, i {-moz-user-select: none; webkit-user-select: none; }

#title{width:100%;background:rgba(0,0,0,0.33);margin-top:1.3em;padding:0.5em 2.5em 1em 1.5em;}
#title h1{font-size:190%;line-height:1.4em;}
#title h2{font-size:120%;}
#title h1 a{color:#fff;}
#title h2 a{color:rgba(255,255,255,0.5);}

#nav-wrap { }
#nav ul { font-size: 90%; }
#nav ul li a {display:inline-block;float:left;height:2.5em;min-width:12%;padding:0.67em;color:rgba(255,255,255,0.75);text-align:center;text-shadow:0 -1px 0 #000;border-left:1px solid rgba(225,225,225,0.1);border-right:1px solid rgba(0,0,0,0.3);}
#nav ul li a:hover { background: rgba(0,0,0,0.2); color: #fff; }
#nav ul li:first-child a { min-width: 2.8em; width: 2.8em; }
#nav ul li:last-child a { border-right:1px solid transparent; }
#nav ul li a.active {background:#822;box-shadow:inset 0px 1.2em 60px -1.2em rgba(0,0,0,1.0);color:#fff;border:1px solid #300;text-shadow:0px 2px 2px rgba(0,0,0,1.0);}
#nav ul li a.active:hover{background:#8a2a2a;}
#nav .totop { color: #eee; opacity: 0; padding: 0.7em; float: right; }
#nav .totop:hover { color: #fff; }

#sidebar .sidebar-content { padding: 0.8em; font-size: 90%; }
#sidebar h2{background:#f3f3f3;font-size:90%;font-weight:bold;border-bottom:1px solid #ccc;border-top:1px solid #eee;box-shadow:inset 0px -1.2em 3em -1.2em rgba(0,0,0,0.2);padding:10px 15px;}
#sidebar strong { font-weight: bold; display:inline-block; margin-bottom: 0.4em;}
#sidebar p { margin-bottom: 0.5em; font-size: 95%; }
#sidebar ul.links li { margin-bottom:0.2em }
#sidebar ul.links li i { color: #888; }
#sidebar .sidebar-box { }
#sidebar .icon-external-link { display: block; float: right; }
#sidebar .icon-calendar { display: block; float: right; }
#sidebar .event, #sidebar .announcement { margin-bottom: 1em; }
#sidebar .event strong { margin-bottom: 0.2em;}

#content h2, #divtext h1 { font-size: 175%; margin-bottom: 0.5em; margin-top: -0.2em;}
#content h3, #divtext h6 { font-size: 105%; margin: 0 0 0.8em; padding-bottom: 0.5em; border-bottom: 1px solid #bbb;}
#content h3.noline { padding-bottom: 0; border-bottom: none; }
#content h3 .btn.float-right { display: inline-block; font-size: 80%; margin-top: -0.6em;}
#content h4 { font-size: 100%; margin: 0 0 0.5em; }
#content strong { font-weight: bold; }
#content p { margin-bottom: 1.1em; }
#content p.centering { text-align: center; }
#content p.extra-padding { padding: 10px 0px; }
#content ul, #content ol { margin-bottom: 1.2em; }
#content li { margin-bottom: 0.5em; }
#content ol li { margin-left: 1.5em; margin-bottom: 0.5em; }
#content ul.bullets li { padding-left: 1.5em; background: url('bullet.png') no-repeat; background-position: 0 0.3em; }
a.btn{;background:#258;border:1px solid #245;color:#fff;display:inline-block;box-shadow:0 1px 0 rgba(255,255,255,0.3) inset,0 1px 3px rgba(0,0,0,0.4);border-radius:0.2em;font-weight:bold;padding:0.5em 1em;text-decoration:none;text-shadow:0 -1px 0 rgba(0,0,0,0.5);}
a.btn:hover{background:#369;color:#eafaff;box-shadow:0 1px 0 rgba(255,255,255,0.4) inset;}
#content #breadcrumbs { margin-bottom: 0.75em; font-size: 85%; }
#content #breadcrumbs:hover { opacity: 1.0; }
#content #breadcrumbs i { margin: 0px 5px; }

#footer { font-size: 85%; }
#footer .copyright { color: #666; width: 34em; float:right; text-align: right; }
#footer .designed-by { color: #666; float:left; padding: 0px 1.5em; }
#footer .designed-by a { color: #888; }
#footer p a { color: #888; border-bottom: 1px dotted #666; }
#footer p a:hover { color: #aaa; border-bottom: 1px dotted #999; }
#footer h4 { color: #aaa; font-size: 125%; font-weight: bold; margin-bottom: 0.5em;}
#footer .contact { float: right; width: 34em; margin: 1.5em 1em 0 0; }
#footer .youssef { float:left; width: 22em; }
#footer .admin { float: left; width: 12em; }
#footer .contact i { display:inline-block; width: 1.25em; text-align: center; margin-right: 0.2em; }
#footer p strong { color: #ccc; font-weight: bold;  }
#footer p { margin-bottom: 0.5em; }
#footer .footer-bottom { border-top: 1px solid #333; padding: 1.1em 1em 1.1em 0; margin-top: 1em; }
#footer .logos-wrapper { float:left; margin: 2em 0 0 2em; }
#footer .logos li { display: inline-block; width: 20em; padding: 1em 0 0 0em; }
#footer .logos img { height: 4em; width: 17em; }
#footer .logos a { opacity: 0.5; display: block;width: 100%; margin-bottom: 1.2em;}
#footer .logos a:hover { opacity: 1.0; }

/* people.php */
.people-browser { }
.people-browser h3 { padding-bottom: 0.5em; }
.people-browser ul { margin-bottom: 1em; }
.people-browser li { display: block; margin-bottom: 0.5em; }
#content div.alumni { margin-top: 1em; }
#content div.alumni li { color: #666; }
#content div.alumni li strong { font-weight: normal; color: #000; }
.group-photo { margin: -1em; margin-bottom: 1em; }
.group-photo img { }

/* profiles.php */
.person { margin-bottom: 30px; }
.person .name { font-size: 125%; margin-bottom: 0.5em; }
.person .name a { display: block; color: #000; }
.person .name a:hover { color: #666; }
.person .photo, .person .photo img { border-radius: 0.2em;}
.person .photo { float: left; margin-right: 1.2em; padding: 1px 1px 0 1px; border: 1px solid #ddd; box-shadow: 0px 5px 1.2em -5px rgba(0,0,0,0.5); }
.person .photo img { width: 7em; height: 9.7em; margin-bottom:-3px; }
.person .bio { font-size:95%; }

/* archive.php */
div.archive p { font-size: 95%; }
div.archive p .icon-external-link { display: block; float: right; }
div.archive p .icon-calendar { display: block; float: right; }

#publication-switcher{margin-bottom:0.6em;}
#publication-switcher h3{background:#bbb;box-shadow:inset 0px 1.2em 3em -1.2em rgba(255,255,255,1);border:1px solid #999;width:33.3333%;height:2.5em;padding:0.7em;font-size:90%;color:#333;border-right:1px solid #ccc;border-left:1px solid #999;text-shadow:0 1px 1px #fff;margin:0;text-align:center;font-weight:bold;display:inline-block;float:left;cursor:pointer;}
#publication-switcher h3:first-child{border-top-left-radius:0.2em;border-bottom-left-radius:0.2em;}
#publication-switcher h3:last-child{border-top-right-radius:0.2em;border-bottom-right-radius:0.2em;border-right:1px solid #999;}
#publication-switcher h3:hover{background:#ccc;}
#publication-switcher h3.active{background:#369;box-shadow:inset 0px 1.2em 60px -1.2em rgba(0,0,0,1.0);color:#fff;border:1px solid #334;text-shadow:0px 1px 1px #000;}
#publication-switcher h3.active:hover { background: #47a; }

#publication-switcher-wrapper{width:47em;position:relative;overflow:hidden;min-height:60em;}
#articles-wrapper, #conferences-wrapper, #books-wrapper { width: 46.9em; position: absolute; top:0; }
#articles-wrapper { left:0; }
#conferences-wrapper { left: 50em;}
#books-wrapper  { left:100em; }
#conferences, #books { padding: 1em; }

#publications-form { margin-bottom: 0.75em; }
#publications-form table{width:100%;}
#publications-form table td{padding-right:0.5em;}
#publications-form table td:last-child{padding-right:0;}
#publications-form label{display:none;}
#publications-form select,#publications-form input{height:2.0em;font-size:90%;-webkit-appearance:none;border-radius:0;border:1px solid #ccc;padding:0.3em 0.5em;box-shadow:inset 5px 10px 1.2em -15px rgba(0,0,0,0.5);color:#333;margin:0;width:100%;}
#publications-form .btn{font-size:85%;} 
#publications-form #select-year { min-width: 4em; }
#publications-form #select-author { min-width: 11em; }
#publications-form #select-journal { min-width: 16em; max-width: 20em;}

.course { font-size: 95%; clear:both; margin-bottom: 1em; position:relative;}
.course p { display: block; float: left; width: 36em ;}
.course .title { font-size: 110%; padding-bottom: 0.5em; border-bottom: 1px solid #ccc; margin-bottom: 0.5em !important; }
.course img { position: absolute; top:1.5em; right: 0; width: 13em; height: 15em; margin-left: 0em; border-left: 1em solid #fff;}

.articles .even { background: #f3f3f3; }
.articles .odd { background: #fcfcfc; }
.articles { margin-bottom: 0; border-bottom: 1px solid #ccc}
.article {  border: 1px solid #ccc; border-bottom: 0; }
#content .see-all { }
#content .see-all a { display: block; text-align: center; padding: 1.2em 0 0; color: #aaa; font-weight: bold; }
#content .see-all a:hover { color: #666; }
.article { position: relative; overflow: hidden; min-height: 5.9em; }
.article .thumbnail img { height: 100%; width: 100%; }
.article .thumbnail{opacity:1.0;float:left;height:5.9em;width:4.5em;margin-right:0.75em ;overflow:hidden;filter:grayscale(75%);-webkit-filter:grayscale(75%);-moz-filter:grayscale(75%);}
.article .thumbnail-active{opacity:1.0;filter:grayscale(0%);-webkit-filter:grayscale(0%);-moz-filter:grayscale(0%);}
.article .authors { margin: 0.75em 0 0.3em 0; font-size: 87.5%; }
.article .author { }
.article .journal { font-size: 90%; }
.article .journal strong { font-weight: bold; }
.article .title { font-weight: bold; font-style: italic; margin-bottom: 0.3em; padding-right: 6em; line-height: 1; }
.article .title a { font-size: 95%; font-weight: bold; }
.article div.bibtex { display: none; }
textarea.bibtex{width:100%;height:15em;line-height:1.2em;font-size:80%;padding:0.5em;background:#fafafa;color:#333;border: 1px solid #ccc;}
.article .abstract { display: none; clear: both; font-size: 90%; background:rgba(220,220,220,0.35); padding: 0.75em;  text-align: justify; }
.article .abstract span strong {font-weight: bold; margin-bottom: 1em; }
.article .keywords { margin-top: 1em; }
.article .keywords strong { font-weight: bold; }
.article .abstract { display: none; clear: both; font-size: 90%; background:rgba(220,220,220,0.35); padding: 0.75em;  text-align: justify; }
.article .fulltext { display: none; }
#content .article a.button{position:absolute;padding:0.35em 0.5em;font-size:85%;right:0.5em;width:6.5em;border:1px solid transparent;color:#bbb;height:2em;}
#content .article a.button i { margin-right: 0.1em; }
.article a.button-fulltext { top: 0.5em; }
.article a.button-abstract { top: 2.5em; }
.article a.button-bibtex { top: 4.5em; }
.article a.button i { float: right; }
.article a.button span.caption { }
#content .article a.button:hover { border: 1px solid #b77; color: #933; }
#content .article a.active { color: #933; }
#content .article a.selected { background: #b77; color: #fff; }
#content .article a.selected:hover { background: #933; color: #fff; }

#simplemodal-overlay {background-color:#000;}
#simplemodal-container {height:20em; width:30em; color:#333; background-color:#fff; border:1px solid #ccc; padding:1em;}
#simplemodal-container .simplemodal-data {padding:1em;}
#simplemodal-container a {color:#fff; display: block;margin: 0.5em 0;}
#simplemodal-container a.btn i {float: right; padding:0.25em 0; }
#simplemodal-container h4 {font-weight: bold; margin-bottom: 0.5em;}
#simplemodal-container p {font-size: 90%; margin-bottom: 0.6em;}

#simplemodal-container a.modalCloseImg {background:url(x.png) no-repeat; width:25px; height:29px; display:inline; z-index:3200; position:absolute; top:-15px; right:-16px; cursor:pointer;}


.conference { padding-left: 2em; margin-bottom: 0.4em; }
.conference-order {  display: inline-block; width: 1.7em; margin-left: -2em; }
.conference-authors { margin-bottom: 0.3em;}
.conference-title { font-style: italic; }
.conference-conference {  }
.conference-publication {  }
.conference-year { }
.conference-url {  }

/* hanging indents */
#content .article .abstract p { margin-bottom: 0;  }
#content .article .abstract p + p { text-indent: 1.5em; margin-top: 0; }

/* research.php */
.blurb { margin-bottom: 2em; }
.blurb .caption { font-size: 85%; text-align: center; }
.blurb .col-1-2, .blurb .col-2-2 { text-align: center; }

#content hr {
  border-bottom: 1px solid #ccc;
  margin-bottom: 2em;
}